@import '../css/global.css';

body {
    background-color: var(--background-color);
    color: var(--white-text);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: font1;
}

.form-container{
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 20vw;
    border-radius: 10px;
}
.form-container form{
    display: flex;
    flex-direction: column;
}
.form-container form input{
    background-color: var(--selected-navbar-toplevel-button-color);
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--black-text);
}

.submit-button{
    color: var(--white-text);
    background-color: var(--background-color);
    border-radius: 12px;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
  }
  .submit-button:hover{
    cursor: pointer;
    background-color: var(--submit-button-hover);
  }