/* navbar.css is used to style the Navbar that is found in all html pages. */

@import './global.css';

.navbar {
    background-color: var(--navbar-color);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'font1';
}

.navbar-normal-content-container {
    display: flex;
    padding: 0px 0px;
    height: 100%;
}

.navbar-logo-container {
    margin: 0px 10px;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.navbar-logo-container a{
    height: 80px;
    display: flex;
    align-items: center;
}
.navbar-logo-container a img{
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
}
.navbar-logo-container a img:hover{
    border: 2px solid var(--navbar-list-button-color);
    border-radius: 2px;
}

.navbar-normal-toplevel-button {
    height: 100%;
    width: fit-content;
    padding: 0px 3em;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.navbar-normal-toplevel-button:hover {
    background-color: var(--navbar-list-button-color);
    cursor: pointer;
}

.navbar-logo {
    height: 110%;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
}

.navbar-toplevel-chevron {
    margin-left: 10px;
}

#navbarChevron {
    transition-duration: 200ms;
}

.current-navbar-link {
    background-color: var(--selected-navbar-toplevel-button-color);
}

.navbar-list {
    display: none;
    width: 249px;
    height: fit-content;
    background-color: var(--navbar-list-button-color);
    z-index: 999;
    position: absolute;
    top: 100px;
    right: 0px;
    margin-left: -60px;
    flex-direction: column;
    padding: 0px;
}

.navbar-list-item {
    padding: 30px 20px;
}

.navbar-list-item:hover {
    background-color: var(--selected-navbar-list-button-color);
    cursor: pointer;
}

.hamburger-container {
    display: none;
    height: auto;
    width: auto;
    font-size: 37px;
    align-items: center;
    padding: 0.62em;
    margin: 5px 5px;
    border: 2px solid white;
    border-radius: 10px;
}

.hamburger-container:hover {
    background-color: var(--navbar-list-button-color);
    cursor: pointer;
}

.hamburger-toplevel-list {
    display: none;
    position: absolute;
    right: 0px;
    top: 93.5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--navbar-color);
    flex-direction: column;
    width: max-content;
    z-index: 999;
}

#scanHamburgbutton {
    border-top-left-radius: 10px;
}

#resourcesHamburgbutton {
    border-bottom-left-radius: 10px;
}

.hamburg-normal-toplevel-button {
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    z-index: inherit;
}

.hamburg-normal-toplevel-button:hover {
    background-color: var(--navbar-list-button-color);
    cursor: pointer;
}

.hamburg-toplevel-chevron {
    margin-right: 10px;
    width: auto;
    height: 10px;
}

#hamburgChevron {
    transition-duration: 200ms;
}

.hamburg-sublist {
    display: none;
    position: absolute;
    right: 136px;
    top: 160px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--navbar-list-button-color);
    flex-direction: column;
    width: max-content;
    z-index: 998;
}

.hamburg-sublist-item {
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    z-index: inherit;
    font-size: 3.3vw;
}

.hamburg-sublist-item:hover {
    cursor: pointer;
    background-color: var(--selected-navbar-list-button-color);
}

#techUsedHamburgbutton {
    border-top-left-radius: 10px;
}

#vulnerabilityDictHamburgbutton {

}

.current-hamburg-link {
    background-color: var(--selected-navbar-toplevel-button-color);
}

@media screen and (max-width: 260px) {
    .navbar-logo {
        height: 100%;
        margin-left: 5px;
    }
}